

.dice {
    min-height: 50%; 
    font-size: 100px; 
    color: red; 
    text-align: inherit; 
    cursor: pointer; 
}
.commit {
    min-height: 50%; 
    font-size: 100px; 
    color: greenyellow; 
    text-align: inherit; 
    cursor: pointer; 
    width: 10%;
    min-width: 300px;
    border-radius: 20px;
    margin: 24px 24px;
    border-width: 8px;
    border-style: none;
    border-color: greenyellow;
}