

.evolvable {
    min-height: 50%; 
    font-size: 16px; 
    color: red; 
    text-align: left; 
    cursor: pointer; 
}

.evotable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.evotable{
    min-height: 100%; 
    min-width: 10%;
    font-size: 20px; 
    color: blue; 
    text-align: left; 
    cursor: pointer; 
}

.commit {
    min-height: 50%; 
    font-size: 100px; 
    color: greenyellow; 
    text-align: center; 
    cursor: pointer; 
}

th, td {
    border: 1px solid;
  }