

.anno {
    font-size: 20px; 
    color: black; 
    margin: 8px 8px;
}
.comment {
    min-height: 100px; 
    font-size: 20px; 
    color: green; 
    text-align: center; 
    cursor: pointer;
    width: 10%;
    min-width: 600px;
    border-radius: 20px;
    margin: 24px 8px;
    /* cursor: url('/delete-icon.png'), auto; */
}

.center {
    margin: auto;
    width: 50%;
}
